body {
    height: 100%;
    margin: 0 auto;
    background-image: url("./img/background-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.container {
    position: relative;
    width: 1366px;
    height: 768px;
}
.header-menu {
    width: 1030px;
    height: 61px;
    margin: 46px 177px 17px 161px;
    justify-content: space-between;
    display: flex;
}
img {
    position: absolute;
    left: 161px;
}
.logo-text1 {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    width: 140px;
    height: 30px;
    left: 222px;
    top: 0;
    display: flex;
    align-items: center;


}
.logo-text2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    position: absolute;
    width: 135px;
    height: 21px;
    left: 222px;
    top: 30px;
    display: flex;
    align-items: center;


}
.email {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    color: #FFFFFF;
    position: absolute;
    width: 219px;
    height: 21px;
    left: 970px;
    top: 0;
    align-items: center;
    justify-content: flex-end;
}
.number {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    width: 146px;
    height: 21px;
    left: 1043px;
    top: 40px;
}
.logo {

}
.logo:hover {
background-image: url("./img/logo-hover.png");
}
.logo-text1:hover {
    color: #F26522;
}
.logo-text2:hover {
    color: #F26522;
}
.email:hover {
    color: #F26522;
}
.number:hover {
    color: #F26522;
}
.main {
    position: absolute;
    width: 1030px;
    height: 560px;
    left: 159px;
    margin-top: 22px;
}
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
            'item1 item2 item3'
            'item4 item5 item6';
    gap: 63px;
}
.text:hover {
    color: #F26522;
}
.item-1 {
    background-image: url("./img/1.png");
    grid-area: item1;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;

}
.hover {
    position: absolute;
    width: 295px;
    height: 55px;
    left: 5px;
    top: 165px;


}
.hover:hover {
    background-image: url("./img/Hover.png");
    background-repeat: no-repeat;

}
.hover-text:hover {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}


.item-2 {
    background-image: url("./img/2.png");
    grid-area: item2;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;
}
.item-3 {
    background-image: url("./img/3.png");
    grid-area: item3;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;
}
.item-4 {
    background-image: url("./img/4.png");
    grid-area: item4;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;
}
.item-5 {
    background-image: url("./img/5.png");
    grid-area: item5;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;
}
.item-6 {
    background-image: url("./img/6.png");
    grid-area: item6;
    width: 309px;
    height: 261px;
    background-repeat: no-repeat;
}
.text {
    color: #FFFFFF;
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    justify-content: center;
    align-items: end;
}
/*.text:hover {
    background-color: #F26522;
    transition-duration: 1s;
}
*/
.footer-text{
    position: absolute;
    width: 306px;
    height: 21px;
    left: 530px;
    top: 732px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}